.container{
    display: flex;
    margin-top: 48px;
    gap: 30px;
}

.product{
    width: 540px;
    height: 320px;
    background-color: var(--color-grey);
  
    
}

.product h3{
   
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
    
    
}

.productName{
    width: 247px;
    height: 118px;
    margin-top: 101px;
    margin-left:95px ;
}