


.p{
    display: flex;
    gap: 24px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;
    font-size: 13px;
}




.navigations{
    display: flex;
    margin: 0px;
    align-items: center;
    gap: 538px;
   
   
}

.footer{
    background-color: var(--color-text-1);
    color: var(--color-text-2);
    padding-top: 75px;
  
    height: 365px;
}


.footerInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color:var(--color-text-1);
    color: var(--color-text-2);
    margin-top: 56px;
    
}

.info{
    width: 49.5%;
    margin-top:36px ;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;

}

